/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:700');

/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');

@import url("components/banner.css");
@import url("components/button.css");
@import url("components/container.css");
@import url("components/cards.css");
@import url("components/footer.css");
@import url("components/moodatorium.css");
/* Utilities */
body {
  margin: 0;
  font-family: Open Sans;
}

 h2, h3, h4 {
  font-family: Poppins;
}

p {
  display: block;
  font-size: 1.5em;
  margin-block-start: 3em;
  margin-block-end: 3em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: lighter;
}

p {
  color: white;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 3em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
a {
  text-decoration: none;
}

/* Custom design below! */

div {
  display: block;
}

.text-center {
  text-align: center;
}
